.navbar {
  max-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.150);
}

.logo-ifood {
  width: auto;
  max-width: 100px;
}

.food-icon {
  background-color: rgb(225, 25, 25);
  width: auto;
  height: auto;
  max-width: 36px;
  max-height: 36px;
  border-radius: 36px;
}

.size-button {
  width: 250px;
}